---
title: Middleman is Watching
body_class: index
---

.welcome
  %h1 Middleman is Watching
  %p.doc
    = link_to 'Read Online Documentation', 'http://middlemanapp.com/', title: 'Read Online Documentation', target: '_blank'